<!DOCTYPE html>

<html>
    <title>Personal </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/learning.css') }}">
    <body>
        <header class = "top-header">
            <a class = "menu-item brand" href = {{url_for('home_page')}}>Personal Learning Path</a>
            <a class = "menu-item" href = {{url_for('test_page')}} >Test</a>
            <a class = "menu-item" href = {{url_for('learning_page')}}>Learning</a>
        </header>
        <div class = "title">
            <h1><b>Your Learning Page</b></h1>
        </div>
        <div class = "text">
            <a href="#">1. Fractions</a><br>
            <br>
            <a href="#">2. Algebra</a><br>
            <br>
            <a href="#">3. Inqualities</a><br>
            <br>
            <a href="#">4. Angles</a><br>
            <br>
            <a href="#">5. Graphs</a><br>
            <br>
            <a href="#">6. Areas</a><br>
            <br>
        </div>
    </body>
</html>