html, body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.top-header {
    background-color: rgb(85, 85, 85);
}

.menu-item {
    color: white;
    padding: 15px;
    display: inline-block;
    text-decoration: none;
    
}

.brand {
    font-size: 18px;
    font-weight: 600;
}

.title{
    font-size: 20px;
    margin: 20px
}

.subtitle{
    font-size: 15 px;
    margin: 20px
}

.test{
    margin: 20px;
    font-size: 13px
}

.button{
    margin: 20px;
    display: inline-block;
    border-radius: 10px;
}